@use '@angular/material' as mat;
@import '../../../custom-theme.scss';

.form-width {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  .full-width {
    width: 100%;
  }
}

.timer-color {
  color: mat.get-color-from-palette($warn) !important;
}
