@import '../custom-theme.scss';

.loader-row {
flex:1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.loader-position {
  align-self: center;
}

.router {
  display: flex;
  flex: 1;
  overflow: auto;
}
