@import '../custom-theme.scss';

.spacer {
  flex: 1 1 auto;
}

.title {
  text-transform: uppercase;
  color: mat-color($ClientApp-accent);
  font-family: "Roboto";
  font-weight: 800;
}
