@import '../../custom-theme.scss';

.title-content {
  display: flex;
  align-content: center;
  justify-content: center;

    .title {
      font-size: 20px;
      font-weight: bold;
      color: mat-color($accent);
    }

}
