@use '@angular/material' as mat;
@import '../../../custom-theme.scss';
.mat-table {
  width: 100%;
}

tr.mat-row {
  .mat-cell {
    color: mat.get-color-from-palette($accent, lighter);
    font-size: 12px; //Size of the text in the table
  }
}

.mat-row {
  height: 40px; //Table row height
}

.mat-row:nth-child(even) {
  background-color: mat.get-color-from-palette($background-color);
}

.mat-row:nth-child(odd) {
  background-color: mat.get-color-from-palette($background-color, darker);
}

tr.mat-header-row {
  background-color: mat.get-color-from-palette($background-color);

  .mat-header-cell {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    color: mat.get-color-from-palette($accent);
  }
}

.highlight {
  background-color: mat.get-color-from-palette( $highlight) !important;
  font-weight: 500;
}
