<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="received" class="mat-column-receivedUtc">
    <th mat-header-cell *matHeaderCellDef> Received </th>
    <td mat-cell *matCellDef="let message"> {{message.receivedUtc| date:'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="sender" class="mat-column-sender">
    <th mat-header-cell *matHeaderCellDef> Sender </th>
    <td mat-cell *matCellDef="let message"> {{message.sender.address}} </td>
  </ng-container>

  <ng-container matColumnDef="subject" class="mat-column-subject">
    <th mat-header-cell *matHeaderCellDef> Subject </th>
    <td mat-cell *matCellDef="let message"> {{message.subject}} </td>
  </ng-container>

  <ng-container matColumnDef="actions" class="mat-column-actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let message">
      <button mat-icon-button aria-label="Show inbox message" (click)="showMessage(message)">
        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{'highlight': selection.isSelected(row)}" ></tr>
</table>
