<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sorting($event)">
  <ng-container matColumnDef="name" class="mat-column-name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let address"> {{address.name}} </td>
  </ng-container>

  <ng-container matColumnDef="address" class="mat-column-emailAddress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
    <td mat-cell *matCellDef="let address"><button mat-icon-button aria-label="Copy the masked email address" (click)="copy(address.emailAddress)"><fa-icon [icon]="['fas', 'copy']"></fa-icon></button> {{address.emailAddress}} </td>
  </ng-container>

  <ng-container matColumnDef="description" class="mat-column-description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
    <td mat-cell *matCellDef="let address"> {{address.description}} </td>
  </ng-container>

  <ng-container matColumnDef="enabled" class="mat-column-enabled">
    <th mat-header-cell *matHeaderCellDef> Enabled </th>
    <td mat-cell *matCellDef="let address">
      <mat-slide-toggle [color]="'primary'" [checked]="address.forwardingEnabled" (change)="onToggleChecked(address, $event)">
      </mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions" class="mat-column-actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let address">
      <button mat-icon-button aria-label="Modify the masked email address" (click)="openUpdateDialog(address)"><fa-icon [icon]="['fas', 'pen']"></fa-icon></button>
      <button class="icon-delete" mat-icon-button aria-label="Remove the masked email address" (click)="openRemoveDialog(address)"><fa-icon [icon]="['fas', 'trash-alt']"></fa-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
