<mat-sidenav-container class="inbox-mails-container">

  <mat-sidenav-content class="inbox-mails-content">

    <div class="table-view table-container">
      <app-messages-table-view [dataSource]="dataSource" (openMessage)="showMessage($event)" [selection]="selection"></app-messages-table-view>
    </div>

    <div class="mobile-view">
      <app-messages-table-mobile-view [dataSource]="dataSource" (openMessage)="showMessage($event)"></app-messages-table-mobile-view>
    </div>
  </mat-sidenav-content>

  <mat-sidenav class="message-container" #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [(opened)]="opened" position="end">
    <div class="table-view">
      <app-message-content-view [messageSpec]="messageContent" [messageContent]="message" [loadingMessage]="loadingMessage" (closeSidenav)="closeMessageContent()"></app-message-content-view>
    </div>

    <div class="mobile-view">
      <app-message-content-mobile-view [messageSpec]="messageContent" [messageContent]="message" [loadingMessage]="loadingMessage" (closeSidenav)="closeMessageContent()"></app-message-content-mobile-view>
    </div>
  </mat-sidenav>

</mat-sidenav-container>
