@use '@angular/material' as mat;

@import '../../custom-theme.scss';

.inbox-mails-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.inbox-mails-content {
  background-color: mat.get-color-from-palette($background-color);
}

.message-container {
  border-left: 1px solid;
  background-color: mat.get-color-from-palette($background-color);
  width: 40%;
}

.mat-table {
  background: transparent !important;
  padding: 20px;
}

.table-view {
  display: block;
}

.mobile-view {
  display: none;
}

.table-container {
  overflow: auto;
  padding-bottom: 15px;
}

@media(max-width:768px) {

  .table-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }

  .inbox-mails-container {
    top: 56px;
  }

  .message-container {
    width: 100%;
    border-left: none;
  }

  .mails-content {
    padding: 10px;
    background-color: mat.get-color-from-palette($background-color);
  }

  .header-container {
    position: fixed;
    display: flex;
    background-color: mat.get-color-from-palette($background-color);
    left: 20px;
    right: 20px;
    top: 64px;
    z-index: 100;
    border-bottom: 1px solid mat.get-color-from-palette($background-color, darker);
  }

  .message-header {
    border-bottom: 1px solid mat.get-color-from-palette($accent);
  }
}

@media(max-width:568px) {

  .header-container {
    top: 56px;
  }

}
