
@import '../../custom-theme.scss';

.inbox-mails-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.mails-content {
  padding: 20px;
  background-color: mat-color($background-color);
}

.message-content {
  border-left: 1px solid;
  background-color: mat-color($background-color);
  width: 40%;

  .section {
    display: flex;
    flex-direction: row
  }

  .item-position {
    flex: 1 1 auto;
  }

  .text-color {
    color: mat-color($accent, lighter);
  }

  .content-section {
    height: 100%;
    width: 100%;
    min-height: 500px;
    margin-top: 30px;
    background-color: mat-color($background-color, darker);

    .padding-content {
      padding: 10px;
    }
  }
}

.loader-position {
  justify-content: center;
  display: flex;
  margin-top:50px;
}

.mat-icon-button.large {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px !important;
}

.highlight {
  border: 1px solid mat-color($accent);
}

.message-content-padding {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.table-view {
  display: block;
}

.mobile-view {
  display: none;
}

.mat-table {
  width: 100%;
}

tr.mat-row {
  .mat-cell {
    color: mat-color($accent, lighter);
    font-size: 12px; //Size of the text in the table
  }
}

.mat-row {
  height: 40px; //Table row height
}

.mat-row:nth-child(even) {
  background-color: mat-color($background-color);
}

.mat-row:nth-child(odd) {
  background-color: mat-color($background-color, darker);
}

tr.mat-header-row {
  background-color: mat-color($background-color);

  .mat-header-cell {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    color: mat-color($accent);
  }
}

::ng-deep .mat-icon-button {
  color: mat-color($primary, darker) !important;
  height: 38px;
  font-size: 12px !important; //Icon size
}

.table-container {
  overflow: auto;
  padding-bottom: 15px;
}

::ng-deep .mat-fab {
  color: #ffffff !important;
  font-size: 16px !important;
}
