@import '../../custom-theme.scss';

.spacer {
  flex: 1 1 auto;
}

.title {
  text-transform: uppercase;
  color: mat-color($accent);
  font-family: "Roboto";
  font-weight: 800;
}

.margin-left-text {
  margin-left: 10px;
}


.user-section {
  color: mat-color($accent);

  .user-informations {
    margin-left: 10px;
    margin-right: 5px;
    display: inline-block;
    text-align: left;

    .username {
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
}

.logout-text {
  color: mat-color($warn);
}

::ng-deep .user-menu .mat-menu-content .mat-menu-item {
  font-size: 13px;

}


.forwarding-address {
  color: mat-color($accent);
  height: 70px;
  padding-top: 7px;
  line-height: 20px;

  .title {
    text-transform: uppercase;
  }

  ::ng-deep .mat-icon-button {
    font-size: 10px;
  }
}
