@use '@angular/material' as mat;
@import '../../../custom-theme.scss';

.forwarding-address {
  color: mat.get-color-from-palette($accent);
  height: 70px;
  padding-top: 7px;
  line-height: 20px;
  max-width: 400px;

  .title {
    text-transform: uppercase;
    font-weight: 500;
  }

  .forwardingAddress-edit-button {
    display: inline-block;
  }

  .fowardingAddress-text {
    font-size: 12px;
    display: inline-block;
  }

  ::ng-deep .mat-icon-button {
    font-size: 10px;
  }
}


@media(max-width:768px) {
  .forwarding-address {
    padding-top: 25px;
  }
}
