<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows>
  <ng-container matColumnDef="informations" class="mat-column-informations">
    <td mat-cell *matCellDef="let message">
      <div class="message-position"><span class="date">{{message.receivedUtc| date:'medium'}}</span></div>
      <div class="message-position subject-section-margin">
        <div class="subject">{{message.subject}}</div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions" class="mat-column-actions">
    <td mat-cell *matCellDef="let message">
      <div class="actions-position">
        <span class="display-name">
          {{message.sender.displayName}}
        </span>
      </div>
      <div class="actions-position chevron-icon">
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </div>
    </td>
  </ng-container>
  <tr mat-row *matRowDef="let element; columns: mobileColumnsToDisplay;"
      class="element-row" (click)="showMessage(element)">
  </tr>
</table>
