@use '@angular/material' as mat;
@import '../../../custom-theme.scss';

.user-section {
  color: mat.get-color-from-palette($accent);

  .user-picture {
    vertical-align: middle;
  }

  .user-informations {
    margin-left: 10px;
    margin-right: 5px;
    display: inline-block;
    text-align: left;

    .username {
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
}

