@import '../../custom-theme.scss';

.table-view {
  display: block;
}

.mobile-view {
  display: none;
}

.table-container {
  overflow: auto;
  padding-bottom: 15px;
}

.header-container {
  display: flex;

  .search-container {
    flex: 1 1 auto;
  }
}

/*Mat-table common CSS*/
.mat-table {
  width: 100%;
}

.mat-row:nth-child(even) {
  background-color: mat-color($background-color);
}

.mat-row:nth-child(odd) {
  background-color: mat-color($background-color, darker);
}

tr.mat-row {
  .mat-cell {
    color: mat-color($accent, lighter);
    font-size: 12px; //Size of the text in the table
  }
}
/*Mat-table common CSS*/

::ng-deep .mat-icon-button {
  color: mat-color($primary, darker) !important;
  height: 38px;
  font-size: 12px !important; //Icon size
}

::ng-deep .mat-fab {
  color: #ffffff !important;
  font-size: 16px !important;
}

.loader-container {
  height: 70px;
}

.loader-position {
  margin: auto;

  .loader-margin {
    margin-top: 20px;
  }
}

.icon-delete {
  color: mat-color($warn) !important;
}

@media(max-width:768px) {
  .table-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }


  .header-container {
    position: fixed;
    display: flex;
    background-color: mat-color($background-color);
    left: 20px;
    right: 20px;
    top: 64px;
    z-index: 100;
    border-bottom: 1px solid mat-color($background-color, darker);
  }

  ::ng-deep .mat-fab {
    width: 40px;
    height: 40px;
    margin: auto;
  }

  ::ng-deep .mat-fab .mat-button-wrapper {
    padding: 9px 0;
  }

  ::ng-deep .mat-icon-button {
    color: mat-color($primary, darker) !important;
    height: 30px;
    min-width: 0;
    width: 30px;
    line-height: 30px;
    font-size: 12px !important; //Icon size
  }
}

@media(max-width:568px) {

  .header-container {
    top: 56px;
  }

  ::ng-deep .mat-icon-button {
    color: mat-color($primary, darker) !important;
    height: 20px;
    min-width: 0;
    width: 20px;
    line-height: 20px;
    font-size: 12px !important; //Icon size
  }
}
